// Logo color
$primary-logo-color: #000;
$secondary-logo-color: #2196f3;
$inverse-logo-color: #fff;

// Background color
$main-bg-color: #fff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;

// Text color
$primary-text-color: #212121;
$secondary-text-color: #fff;
$third-text-color: #757575;

// Icon color
$icon-color: #afb1b8;
$secondary-icon-color: #fff;

// Accent colors
$accent-color: #2196f3;

//  Text style
$fontFamyly: "Roboto", sans-serif;
$weight: 500;
$size: 14px;
$height: 16px;
$spacing: 0.03em;

$icons: "antenna", "clock", "diagram", "astronaut";
