.logo {
  color: $primary-logo-color;
  font-family: "Raleway";
  line-height: 1.19;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;

  @include mq(tablet-only) {
    font-size: 26px;
    line-height: calc(28 / 26);
  }

  &--inverse {
    color: $inverse-logo-color;
  }
  &__text {
    color: $secondary-logo-color;
  }
}
