.header {
  background-color: $main-bg-color;
  border-bottom: 1px solid #ececec;

  &__container {
    @include centeredFlex;
    height: 60px;

    @include mq(tablet) {
      height: 80px;
    }
  }
}

.header-contacts {
  @include mq(phone-only) {
    display: none;
  }
  margin-left: auto;

  @include mq(desktop) {
    display: flex;

    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }

  &__link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    color: $third-text-color;
    @include textStyle($fontFamyly, $weight, $size, $height, 0.02em);

    @include mq(tablet-only) {
      @include textStyle($fontFamyly, $weight, 12px, 14px, 0.02em);
    }

    fill: currentColor;
    text-decoration: none;
    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
  }
}
