/* Section-team */
.team {
  background-color: $secondary-bg-color;

  &__wrap {
    padding: 30px 10px;
  }

  &__name {
    margin-bottom: 10px;
    @include textStyle($fontFamyly, $weight, 16px, 19px, $spacing);
    text-align: center;
    color: $primary-text-color;
  }

  &-pretitle {
    @include textStyle($fontFamyly, $weight, 16px, 19px, $spacing);
    text-align: center;
    color: $third-text-color;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    width: 270px;
    background-color: $main-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.socialnets {
  @include centeredFlex;
  gap: 10px;

  &__link {
    @include centeredFlex;

    width: 44px;
    height: 44px;
    fill: $icon-color;
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    @include transition(background-color);

    &:hover,
    &:focus {
      fill: #fff;
      background-color: $accent-color;
    }
  }
  &__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
