// готова

.values__list {
  @include mq(tablet) {
    display: flex;
  }

  @include mq(tablet-only) {
    flex-wrap: wrap;
  }
}

.values__item {
  padding-bottom: 30px;
  width: 100%;

  @include mq(tablet) {
    flex-basis: calc((100% - 2 * 15px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(n + 3) {
      padding-bottom: 0px;
    }
  }
  @include mq(desktop) {
    flex-basis: calc((100% - 90px) / 3);
    padding-bottom: 0px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &::before {
    display: block;
    content: "";
    /* width: 270px; */
    height: 120px;
    background-color: #f5f4fa;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

@each $iconName in $icons {
  .values__item--#{$iconName}::before {
    background-image: url(../images/main_page/#{$iconName}.svg);
  }
}

.values__name {
  margin-bottom: 10px;
  @include textStyle($fontFamyly, 700, 14px, 16px, $spacing);
  text-transform: uppercase;
  color: $primary-text-color;

  @include mq(phone-only) {
    text-align: center;
  }
}

.values__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $third-text-color;
}
